@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 2.0;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: none;
}
*,*:before,*:after {
  -webkit-box-sizing: border-box;/*paddingとborderを幅と高さに含める*/
  box-sizing: border-box; /*paddingとborderを幅と高さに含める*/
}
h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  vertical-align: middle; 
}
figure {
  margin: 0;
  
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}
a { 
  text-decoration: none;
  /* transition: all 0.5s ease; 全てのプロパティ・変化までの時間・開始と終了時緩やかに */
}
a:hover { 
  transition:all .5s ease;
}
section {
  margin-bottom: 120px;
}
.content-wrapper {
   width: 100%; /*修正前95*/
   margin: 0 auto;
   max-width: 1400px; /*これ以上大きくならない*/
 }
section h2 {
  font-size: 2rem;
}
/* figcaption */
.hover-parent {
  position: relative;       
  line-height: 30px;
}
.hover-parent:hover .hover-mask {
  display: inline;                     /* インライン要素として表示 */
}
 /* --- 吹き出し ------------------ */
.hover-mask {
  display: none;                        /* 要素を非表示 */
  position: absolute;                   /* 親要素を基準 */
  background-color:#999;  /* 背景色（透明度） */
  color: #fff;
  width:120px;                          /* 吹き出し全体の幅 */
  right: 0;                           /* 表示位置 */
  bottom: 0;                           /*表示位置 */
  margin: 0;
  font-size: 80%;                       /* 文字サイズ */
  animation: sample2Anime 1s linear;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
}
@keyframes sample2Anime{
 100%{ color : #fff; background:#999 }
  50%{ color : #fff; background:#777}
   0%{ color : #fff; background:#555 }
}

/* ローデイングアニメーション */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #111;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
#loader span {
  display: inline-block;
  margin: 0 -.075em;
  animation: loading .7s infinite alternate;
  font-size: 3vw;
  font-weight: normal;
}
#loader span:nth-child(2) {
  animation-delay: .1s;
}
#loader span:nth-child(3) {
  animation-delay: .2s;
}
#loader span:nth-child(4) {
  animation-delay: .3s;
}
#loader span:nth-child(5) {
  animation-delay: .4s;
}
#loader span:nth-child(6) {
  animation-delay: .5s;
}
#loader span:nth-child(7) {
  animation-delay: .6s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}      

/*== header start == */
.inner { /** ヘッダー部全体 **/
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 100%;
  writing-mode: vertical-lr; /* 縦書き */
  margin: 0;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
/* header */
#top-head {
  width: 100%;
  width: 4.5vw;
  line-height: 1; 
  position: absolute;
  position: fixed;
  z-index:1;/*修正前999*/
}
#top-head a,
#top-head {
  color: #fff;
  text-decoration: none;
}
#top-head .inner {
  position: relative;
}
#top-head .logo { /* 古塔つみ */
  display: inline-block;
  font-size: 1.5vw;
  width: 4vw;
  color: #555555;
  font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.75em;
}
#mobile-head {
  width: 4vw;
  vertical-align: middle;
  margin-top: 20px;
}
#top-head .topicon { /*アイコン*/
  width: 4vw;
  border-radius: 50%;
  margin:30px 0;
}
#global-nav ul { /* SNSリスト */
  display: flex; 
  list-style: none;
  font-size: 1vw;
}
#global-nav ul li {
  margin: 30px 15px;
}
#global-nav ul li a {
  padding: 0 10px; 
  color: #444;
}
#mobile-nav {
  display: none;
}
.mail_btn {
  font-size: 1vw;
  font-weight: normal;
}
/* Fixed */
#top-head.fixed {/*スクロール時のヘッダーの位置*/
  margin-top: 0;
  top: 0;
  position: fixed;
}
#top-head.fixed .logo { /*FITNESSのロゴ*/
  font-size: 2.25vw;
  color: #fff;
  z-index: 1;
}
#top-head.fixed #global-nav ul li a {
  color: #fff;
}
/* sns_btn */
.fa-envelope:before {
  color: #333;
}

/* masonry */
#container {
  width: 100%;
  margin: 0 auto;   /*中央寄せ */
  position: relative;
}
.wrapper {
  position: absolute;
  top: 15px;
  left: 60px;
}
.item {
  margin-top:15px;
  margin-bottom: 15px;
  width: 140px;
  padding: 8px;
  box-shadow: 8px 8px 10px #555555;
  float: left; 
}
.item.x3 {
  width: 400px;
  opacity : 0;
  transform: translateY(50px);
  transition: 1s;
}
.item img {
  width: 100%;
}



/* footer */
.footer section p{
  color: #333;
  text-align: center;
  font-size: 0.75rem;
}


/* 上に戻るボタン*/
#pagetop{
  width: 70px; /*丸の大きさ*/
  height: 70px;
  position: fixed;
  right: 25px; /*丸の位置*/
  bottom: 100px;
  background: #949494;/*ボタンの色*/
  opacity: 0.6;
  border-radius: 50%;
}
#pagetop a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f106"; /*アイコン*/
  font-weight: 700;
  font-size: 40px; /*矢印の大きさ*/
  color: #fff;
  position: absolute;
  width: 35px;
  height: 35px;
  top: -50px; 
  bottom: 10px;
  right: 25px;
  left: 15px;
  margin: auto;
}


@media screen and (max-width: 1112px){ /*ipadpro 横*/
  /* masonry */
#container {
  width: 100%;
  margin: 0 auto;   /* 中央寄せ */
  margin-left: 20px;
  position: relative;
}
.wrapper {
  position: absolute;
  top: 15px;
  left: 60px;
}
.item {
  margin-top:15px;
  margin-bottom: 15px;
  width: 140px;
  padding: 8px;
  box-shadow: 8px 8px 10px #555555;
}

.item.x3 {
  width: 300px;
}
.item img {
  width: 100%;
}
.hover-parent {
  position: relative; 
} 
.hover-mask {
  width:100px;   
  font-size: 80%;                       /* 文字サイズ */
  border: 1px solid #fff;
  border-radius: 5px;
}
/* 上に戻るボタン*/
#pagetop{
  width: 50px; /*丸の大きさ*/
  height: 50px;
  position: fixed;
  right: 25px; /*丸の位置*/
  bottom: 50px;
  background: #949494;/*ボタンの色*/
  opacity: 0.6;
  border-radius: 50%;
}
#pagetop a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f106"; /*アイコン*/
  font-weight: 700;
  font-size: 30px; /*矢印の大きさ*/
  color: #fff;
  position: absolute;
  width: 35px;
  height: 35px;
  top: -50px; 
  bottom: 10px;
  right: 27px;
  left: 1px;
  margin: auto;
}
@media screen and (max-width: 1024px){ /*ipad 横*/
#container {
  width: 100%;
  margin: 0 auto;  
  margin-left: 30px;
  position: relative;
}
.wrapper {
  position: absolute;
  top: 15px;
  left: 60px;
}
.item {
  margin-top:15px;
  margin-bottom:15px;
  width: 140px;
  padding: 5px;
  box-shadow: 8px 8px 10px #555555;
}

.item.x3 {
  width: 280px;
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

/* 上に戻るボタン*/
#pagetop{
  width: 50px; /*丸の大きさ*/
  height: 50px;
  position: fixed;
  right: 25px; /*丸の位置*/
  bottom: 50px;
  background: #949494;/*ボタンの色*/
  opacity: 0.6;
  border-radius: 50%;
}
#pagetop a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f106"; /*アイコン*/
  font-weight: 700;
  font-size: 30px; /*矢印の大きさ*/
  color: #fff;
  position: absolute;
  width: 35px;
  height: 35px;
  top: -50px; 
  bottom: 10px;
  right: 27px;
  left: 1px;
  margin: auto;
}
@media screen and (max-width: 896px){ /*iphone xs 横*/
#container {
  margin-left: 40px;
  position: relative;
}
.wrapper {
  position: absolute;
  top: 15px;
  left: 60px;
}
.item.x3 {
  width: 220px;
}

/* 上に戻るボタン*/
#pagetop{
  width: 50px; /*丸の大きさ*/
  height: 50px;
  position: fixed;
  right: 25px; /*丸の位置*/
  bottom: 50px;
  background: #949494;/*ボタンの色*/
  opacity: 0.6;
  border-radius: 50%;
}
#pagetop a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f106"; /*アイコン*/
  font-weight: 700;
  font-size: 30px; /*矢印の大きさ*/
  color: #fff;
  position: absolute;
  width: 35px;
  height: 35px;
  top: -50px; 
  bottom: 10px;
  right: 27px;
  left: 1px;
  margin: auto;
}
@media screen and (max-width: 834px){ /*ipadpro 縦*/
  .inner { /** ヘッダー部全体 **/
    display:block;
    width: 100%;
    height: 50px; /* ヘッダーの高さ */
    position: absolute;
    background-color:#f2f2f2; 
    margin: 0;
    padding: 0;
    padding-left: 30px;
  }
  .inner:after { 
    content: ""; 
    clear: both; 
    display: inline-block; 
   } 
  #top-head {
    display:block;
    width: 100%; 
    position: fixed; /*上部固定*/
    z-index:999;
    margin: 0;
    padding: 0;
  }
  #top-head .logo { /* 古塔つみ */
    font-size: 2.5vw;
    font-family: 'Noto Serif JP', serif;
    letter-spacing:1em;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    padding-left: 20px;
    writing-mode: horizontal-tb; /* 横書きに変更 */
  }
  #mobile-head { /*ロゴとつみ*/
    display: block;
    width: 50%;  
    margin: 10px;
    padding: 0;
  }
  #top-head .topicon { /*アイコン*/
    width: 4vw; 
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
  #global-nav {
    display: flex;
    width: 40%;
    height: 20px;
    margin: 20px 20px;
    padding-left: 20px;
    /* background-color: green; */
  }
  #global-nav ul { /* SNSリスト */
    /* display: flex; flexじゃないと横並ばない */
    list-style: none;
    height: 20px;
    font-size: 1.5vw;
    font-weight: normal;
    writing-mode: horizontal-tb; /* 横書きに変更 */
    justify-content: space-evenly;
  }
  #global-nav ul li {
    margin: 0;
    padding: 0;
  }
  #global-nav ul li a{  /* snsリスト */
    padding: 0 10px; 
    color: #444; 
    margin: 0;
    padding: 0;
  }
  .mail_btn {
    font-size: 1.5vw;
    font-weight: normal;
    margin: 0;
    padding: 0;
   } 
  
  /* Fixed */
  #top-head.fixed {/*スクロール時のヘッダーの位置*/
    margin-top: 0;
    top: 0;
    position: fixed;
  }
  /* sns_btn email */
  .fa-envelope:before {
    color: #333;
  }  
  .hover-mask {
    width:100%;  
    border: 1px solid #fff;
    border-radius: 5px;
  }
  /* masonry */
#container {
  padding-top: 30px;
  position: relative;
  margin: 0 auto; 
}
.wrapper {
  position: absolute;
  top: 15px;
  left: 0px;
}
.item {
  margin-top:1px;
  margin-bottom: 15px;
  padding: 10px; /* 白い縁の幅 */
  box-shadow: 8px 8px 10px #555555;
}
.item.x3 {
  width: 220px;
}
/* 上に戻るボタン*/
#pagetop{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: #949494;/*ボタンの色*/
  opacity: 0.6;
  border-radius: 50%;
}
#pagetop a{
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f106"; /*アイコン*/
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  position: absolute;
  width: 15px;
  height: 5px;
  top: -12px;
  bottom: -1px;
  right:12px;
  left: 9px;
  margin: auto;
}

@media screen and (max-width:768px) {
.item.x3 {
  width: 220px;
}
@media screen and (max-width:736px) {
.item.x3 {
  width: 200px;
}

@media screen and (max-width: 667px) {
.item {
  margin-top:5px;
  margin-bottom: 5px;
  width: 140px;
  padding: 4px;
  box-shadow: 4px 4px 5px #555555;
}
.item.x3 {
  width: 200px;
}
#pagetop{
  width: 25px;
  height: 25px;
}
#pagetop a::before{
  right: 10px;
  left: 6px;
}
@media screen and (max-width:414px) {
 .inner { 
    height: 35px;
    padding-left: 30px;
  }
  #top-head .logo { 
    margin: 0;
    height: 20px;
    font-size: 3vw;
    padding-left:7px;
    padding-top: 2px;
  }
  #mobile-head { 
    width: 35%; 
  }
  #global-nav {
    width: 55%;
    margin-top: 15px; 
  }
  .item.x3 {
   width: 120px;
   margin-top: 0;
  }
}
@media screen and (max-width:375px) {
  #global-nav {
    margin-top: 12px;
  }
  .item.x3 {
    width: 110px;
  }
}
